# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#Ignore IntelliJ specific files
.idea
/prorunvis/src/test/testfiles/preprocess/test1result/
/prorunvis/src/test/testfiles/preprocess/test2result/
/prorunvis/src/test/testfiles/compileandrun/test1result/
/prorunvis/src/test/testfiles/compileandrun/test2result/
/prorunvis/src/test/testfiles/instrument/test1result/
/prorunvis/src/test/testfiles/instrument/test2result/
